* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.-logo-rotate {
  animation: logoRotate 30s linear infinite;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.-custom-home-background {
  background-image: url(/mainBackground.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
